.order-form {
  padding-top: 3em;
  padding-bottom: 3en;

  .form-group-wrap {
    display: inline-block;
    margin-right: 1em;
  }

  h4 {
    margin-top: 0;
  }

  .example {
    @height: 22px;

    display: inline-block;
    position: relative;
    margin-right: 1em;
    height: @height;
    border-radius: 2px;
    background-color: #00aaa0;
    background-image: repeating-linear-gradient(-30deg,
      #00aaa0,
      #00aaa0 5px,
      #005e58 5px,
      #005e58 10px);
    vertical-align: top;

    &--rect {
      width: (@height * 2);
    }

    &--square {
      width: (@height * 1);
    }

    &--panorama {
      width: (@height * 4);
    }
  }

  &__total {

    table {
      width: 100%;
    }
  }

  input {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
  }

  input + label {
    cursor: pointer;
    margin-right: 1em;
    margin-bottom: 2em;
  }

  input:not(checked) {
    position: absolute;
    opacity: 0;
  }

  input:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
  }

  input:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #00aaa0;
    background: inherit;
  }

  input:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 16px;
    height: 16px;
    background: #00aaa0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
    opacity: 0;
    transition: all .2s;
  }

  input:checked + label:after {
    opacity: 1;
  }

  input[type="radio"]:not(checked) + label:before,
  input[type="radio"]:not(checked) + label:after {
    border-radius: 50%;
  }

  input[type="checkbox"]:not(checked) + label:before,
  input[type="checkbox"]:not(checked) + label:after {
    border-radius: 2px;
  }

  input[type="checkbox"]:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
  }

  .disabled {

    &:not(checked) + label:before {
      border: 1px solid @gray;
    }

    & + label {
      color: @gray;
    }
  }
}